<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672760973960-e8f3jhockbjck0fe8tfonu9lf29kjna9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672760973960-e8f3jhockbjck0fe8tfonu9lf29kjna9</string>
	<key>API_KEY</key>
	<string>AIzaSyDQAf8b6eN35pPqBobBFmhhDum54yWl1Tc</string>
	<key>GCM_SENDER_ID</key>
	<string>672760973960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skw.SkripsiSKW</string>
	<key>PROJECT_ID</key>
	<string>skripsibinus-98fab</string>
	<key>STORAGE_BUCKET</key>
	<string>skripsibinus-98fab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672760973960:ios:6912564513fbbc5d766d3d</string>
</dict>
</plist>